{% extends 'base.html' %}

{% block content %}

{% include 'navigation.html' %}

    
   <section class="page-section-no-padding">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-md-12 padding-0 map-page-header">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.65554885748!2d78.53642141415392!3d17.428310388054115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9b80907e8005%3A0xebccce41ce3f7fe7!2sMeritstep%20Technologies%20for%20Online%20Training%20Institute!5e0!3m2!1sen!2sin!4v1568723982372!5m2!1sen!2sin" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
               </div>     
            </div>
        </div>
    </section>


{% include 'header.html' %}


    <section class="page-section">

        <div class="container">
            <div class="row ">

                <div class="col-md-8">
                    <h2 class="title-section"><span class="title-regular">{{ contact.sub1title }}</span></h2>
                    <hr class="title-underline ">
                    <p>{% autoescape on %}{{ contact.description }}{% endautoescape %}</p>



                       <form action="/contact1" class=" " method="post">
                       <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="form-group">
                        <label>Name</label>
                         <input type="text" id="input-name" name="name" placeholder="Full Name*">
                    </div>
                    <div class="form-group">
                         <label>Email</label>
                        <input type="email" id="input-email" name="email" placeholder="Email address*">
                    </div>
                    <div class="form-group">
                          <label>Phone</label>
                        <input type="text" id="input-phone" name="phone" placeholder="Phone*">
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                         <textarea  id="request_message" rows="3" name="message" placeholder="Message"></textarea>
                    </div>
                    <button id="contact_btn" type="send" class="btn btn-default" value="Send">SEND <i class="fa fa-envelope"></i></button>

                    </form>

                </div>


                <div class="col-md-4">
                    <h3>{{ contact.sub2title }}</h3>
                    <p> {% autoescape on %}{{ contact.seconddescription }}{% endautoescape %}</p>

                </div>
            </div>
        </div>
    </section>

{% include 'popup.html' %}
{% endblock content %}